@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        html, body {
            display: grid;
            height: 100%;
            width: 100%;
            place-items: center;
            background: #efefef;
            margin: 0;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .col-md-4 {
            background: #fff;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        }

        #register-submit {
            background: linear-gradient(-135deg, #c850c0, #4158d0);
            color: #fff;
            border: none;
            border-radius: 25px;
            padding: 10px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
        }

            #register-submit:hover {
                opacity: 0.9;
            }

        .form-floating .form-control {
            border-radius: 25px;
            padding-left: 20px;
            border: 1px solid lightgrey;
            transition: all 0.3s ease;
        }

            .form-floating .form-control:focus {
                border-color: #4158d0;
            }

        .form-floating .form-label {
            padding-left: 20px;
        }

        .text-danger {
            color: #ff6b6b;
            margin-bottom: 15px;
            font-weight: bold;
        }

        .title {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
            line-height: 100px;
            color: #fff;
            border-radius: 15px 15px 0 0;
            background: linear-gradient(-135deg, #c850c0, #4158d0);
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <div class="title">Register</div>
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirm password" />
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="register-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
